<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="http://m.sui.taobao.org/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../static/SUI-Mobile-dev/dist/css/sm.css">
    <link rel="stylesheet" href="../static/SUI-Mobile-dev/dist/css/sm-extend.min.css">


</head>
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page">
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left "></a>
            <a class="icon icon-refresh pull-right"></a>
            <h1 class="title">我</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item external active" href="/main">
                <span class="icon icon-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external" href="/category">
                <span class="icon icon-emoji"></span>
                <span class="tab-label">分类</span>
            </a>
            <a class="tab-item external" href="/me">
                <span class="icon icon-me"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
        <div class="content">
            <!-- 这里是页面内容区 -->

                <div style="text-align: center">
                      <span style="margin-right: 5rem">

                          <img src="../static/SUI-Mobile-dev/img/xj123.png" style="
                  margin-top: 1rem; width: 4rem;height: 4rem; border-radius: 80px">
                          <span>zhangjie</span>
                      </span>
                </div>



            <div class="list-block">


                <ul style="line-height: 50px">

                    <li class="item-content item-link">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span class="icon icon-me color-success">&nbsp;&nbsp;个人信息</span>
                            </div>
                        </div>
                    </li>

                    <li class="item-content item-link">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span
                                    class="icon icon-download color-success">&nbsp;&nbsp;我的发布</span></div>
                        </div>
                    </li>

                    <li class="item-content item-link">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span class="icon icon-star color-warning">&nbsp;&nbsp;我的关注</span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-link">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span class="icon icon-share color-warning">&nbsp;&nbsp;分享好友</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
        <script type='text/javascript' src='../static/SUI-Mobile-dev/dist/js/sm.js' charset='utf-8'></script>
        <script type='text/javascript' src='../static/SUI-Mobile-dev/dist/js/sm-extend.js' charset='utf-8'></script>
        <script>
            $.init();
        </script>
</body>
</html>
