<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="http://m.sui.taobao.org/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../static/SUI-Mobile-dev/dist/css/sm.css">
    <link rel="stylesheet" href="../static/SUI-Mobile-dev/dist/css/sm-extend.min.css">

  </head>
  <body>

  <div class="page-group">
      <!-- 你的html代码 -->
      <div class="page">
          <header class="bar bar-nav">
  <a class="icon icon-left pull-left "></a>
  <a class="icon icon-refresh pull-right"></a>
  <h1 class="title">分类</h1>
</header>
          <div class="bar bar-header-secondary">
  <div class="searchbar">
    <a class="searchbar-cancel">取消</a>
    <div class="search-input">
      <label class="icon icon-search" for="search"></label>
      <input type="search" id='search' placeholder='输入关键字...'/>
    </div>
  </div>
</div>
          <nav class="bar bar-tab">
              <a class="tab-item external active" href="/main">
                  <span class="icon icon-home"></span>
                  <span class="tab-label">首页</span>
              </a>
              <a class="tab-item external" href="/category">
                  <span class="icon icon-emoji"></span>
                  <span class="tab-label">分类</span>
              </a>
              <a class="tab-item external" href="/me">
                  <span class="icon icon-me"></span>
                  <span class="tab-label">我</span>
              </a>
          </nav>

          <div class="content">
  <div class="buttons-tab">
    <a href="#tab1" class="tab-link active button">今天</a>
    <a href="#tab2" class="tab-link button">明天</a>
    <a href="#tab3" class="tab-link button">预告</a>
  </div>
  <div class="content-block">
    <div class="tabs">
      <div id="tab1" class="tab active">
        <div class="content-block">
          <div class="card demo-card-header-pic">
                <a href="/detail">
                    <div valign="bottom" class="card-header color-white no-border no-padding">
                        <img class='card-cover' src="../static/SUI-Mobile-dev/img/xj123.png" alt="国产凌凌漆">
                    </div>
                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray">发表于 2015/01/15</p>
                            <p>此处是内容1111...</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="link">赞</a>
                        <a href="#" class="link">更多</a>
                    </div>
                </a>
            </div>
        </div>
      </div>
      <div id="tab2" class="tab">
        <div class="content-block">
          <div class="card demo-card-header-pic">
                <a href="/detail">
                    <div valign="bottom" class="card-header color-white no-border no-padding">
                        <img class='card-cover' src="../static/SUI-Mobile-dev/img/xj123.png" alt="国产凌凌漆">
                    </div>
                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray">发表于 2015/01/15</p>
                            <p>此处是内容22222...</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="link">赞</a>
                        <a href="#" class="link">更多</a>
                    </div>
                </a>
            </div>
        </div>
      </div>
      <div id="tab3" class="tab">
        <div class="content-block">
          <div class="card demo-card-header-pic">
                <a href="/detail">
                    <div valign="bottom" class="card-header color-white no-border no-padding">
                        <img class='card-cover' src="../static/SUI-Mobile-dev/img/xj123.png" alt="国产凌凌漆">
                    </div>
                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray">发表于 2015/01/15</p>
                            <p>此处是内容3333...</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="link">赞</a>
                        <a href="#" class="link">更多</a>
                    </div>
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


      </div>
  </div>

    <script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='../static/SUI-Mobile-dev/dist/js/sm.js' charset='utf-8'></script>
    <script type='text/javascript' src='../static/SUI-Mobile-dev/dist/js/sm-extend.js' charset='utf-8'></script>
    <script>
        $.init();
    </script>
  </body>
</html>
