<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="http://m.sui.taobao.org/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../static/SUI-Mobile-dev/dist/css/sm.css">
    <link rel="stylesheet" href="../static/SUI-Mobile-dev/dist/css/sm-extend.min.css">

</head>
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page">
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left back "></a>
            <a class="icon icon-refresh pull-right"></a>
            <h1 class="title">详情</h1>
        </header>

        <div class="content">
            <!-- 这里是页面内容区 -->
            <div class="page-index">

                <div class="card demo-card-header-pic">
                    <a href="/detail">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class='card-cover' src="../static/SUI-Mobile-dev/img/xj123.png" alt="国产凌凌漆">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">发表于 2018/01/15</p>
                                <p>《国产凌凌漆》是一部由周星驰、李力持执导，周星驰、袁咏仪、罗家英等主演，
                                    于1994年上映的香港喜剧电影。影片对美国谍战影片007系列进行恶搞创作，
                                    讲述了后备国家特工凌凌漆赶赴香港，进行从黑帮头目金枪人的手里夺回暴龙头骨的任务，
                                    最终用行动感化了原本与之对抗的金枪人手下女特务李香琴，成功完成任务的故事</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link"><span class="icon icon-edit">评论</span> </a>
                            <a href="#" class="link"><span class="icon icon-share">分享</span> </a>
                        </div>
                    </a>
                </div>
            </div>


        </div>


    </div>
</div>


<script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../static/SUI-Mobile-dev/dist/js/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='../static/SUI-Mobile-dev/dist/js/sm-extend.js' charset='utf-8'></script>
<script>
    $.init();
</script>
</body>
</html>
